In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [2]:
airbnb_file = "AB_NYC_2019.csv"

In [3]:
airbnb_df = pd.read_csv(airbnb_file)
airbnb_df = airbnb_df.rename(columns={"host_id": "host_number", "host_name": "host_title",
                                      "neighbourhood_group":"borough"})

In [4]:
airbnb_df.head()

,id,name,host_number,host_title,borough,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
# Create a filtered dataframe from specific columns
host_cols = ["host_number", "host_title"]
host= airbnb_df[host_cols].copy()
host= host.drop_duplicates()
host.set_index("host_number",inplace=True)

In [6]:
host.head()

              host_title
host_number
2787                John
2845            Jennifer
4632           Elisabeth
4869         LisaRoxanne
7192               Laura

In [7]:
room_cols=["host_number", "room_type"]
room_type=airbnb_df[room_cols].copy()
room_type.drop_duplicates("room_type", inplace=True)

In [8]:
room_type=room_type.drop(columns=["host_number"])

In [9]:
room_type.index=range(1,4)
room_type=room_type.reset_index()
room_type=room_type.rename(columns={"index":"room_type_id"})
room_type

   room_type_id        room_type
0             1     Private room
1             2  Entire home/apt
2             3      Shared room

In [10]:
neighb_cols=["host_number","borough"]
neighb=airbnb_df[neighb_cols].copy()
neighb.drop_duplicates("borough",inplace=True)

In [11]:
neighb=neighb.drop(columns=["host_number"])

In [12]:
neighb.index=range(1,6)
neighb=neighb.reset_index()
neighbourhood_group_transformed=neighb.rename(columns={"index":"borough_id"})
neighbourhood_group_transformed

   borough_id        borough
0           1       Brooklyn
1           2      Manhattan
2           3         Queens
3           4  Staten Island
4           5          Bronx

In [13]:
neighb_join=pd.DataFrame.merge(airbnb_df,neighbourhood_group_transformed)

In [14]:
neighb_join.head(5)

,id,name,host_number,host_title,borough,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,borough_id
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,1
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,1
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0,1
3,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314,1
4,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46,1

In [15]:
neighbourhood_df =  neighb_join[["borough_id","neighbourhood"]]
neighbourhood_df = neighbourhood_df.dropna(how='any')
neighbourhood_df_unique = neighbourhood_df.drop_duplicates()
neighbourhood_df_unique.index=range(1,222)
neighbourhood_df_unique=neighbourhood_df_unique.reset_index()
neighbourhood=neighbourhood_df_unique.rename(columns={"index":"neighbourhood_id"})

neighbourhood.head(10)

   neighbourhood_id  borough_id       neighbourhood
0                 1           1          Kensington
1                 2           1        Clinton Hill
2                 3           1  Bedford-Stuyvesant
3                 4           1         South Slope
4                 5           1        Williamsburg
5                 6           1         Fort Greene
6                 7           1       Crown Heights
7                 8           1          Park Slope
8                 9           1     Windsor Terrace
9                10           1          Greenpoint

In [16]:
superJoin=pd.DataFrame.merge(neighb_join,neighbourhood)
superJoin["last_review"]=pd.to_datetime(superJoin["last_review"])

In [17]:
superJoin

,id,name,host_number,host_title,borough,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,borough_id,neighbourhood_id
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,1,1
1,63546,Large and Cozy Private Bedroom,308652,Antonín,Brooklyn,Kensington,40.64106,-73.97426,Private room,39,1,45,2019-05-16,0.46,2,365,1,1
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,Antonín,Brooklyn,Kensington,40.64302,-73.97255,Private room,39,1,82,2019-05-19,0.94,2,365,1,1
3,267652,Private clean pleasant spacious room.,164675,Janice,Brooklyn,Kensington,40.64277,-73.97296,Private room,60,2,20,2019-01-21,0.42,1,347,1,1
4,282341,Kensington/Ditmas Park pied-a-terre,1471384,Dan,Brooklyn,Kensington,40.64330,-73.97386,Entire home/apt,90,30,3,2017-07-30,0.05,1,286,1,1
5,317905,Come and go as you please in BKLN!,1631733,Jane,Brooklyn,Kensington,40.64354,-73.97777,Entire home/apt,89,3,62,2019-01-02,0.71,1,189,1,1
6,452068,"Spacious 4 bedroom house, New York",2246071,Tamara,Brooklyn,Kensington,40.64205,-73.97173,Entire home/apt,200,1,3,2015-08-16,0.06,1,0,1,1
7,516791,Lovely Brooklyn Apt,696306,Bethany,Brooklyn,Kensington,40.64625,-73.97932,Entire home/apt,90,10,33,2019-05-22,0.39,1,269,1,1
8,656281,"QUIET, SPACIOUS, COMFORTABLE, & GREAT LOCATION",3180741,Manon,Brooklyn,Kensington,40.64573,-73.98013,Private room,72,1,48,2019-02-28,0.59,1,312,1,1
9,812467,"Vintage Chic Haven in Kensington, Brooklyn",574584,Jesse,Brooklyn,Kensington,40.63547,-73.97417,Private room,49,1,61,2019-06-23,0.95,1,100,1,1
10,848170,Gorgeous 1BR near Prospect Park,4428278,Rohit,Brooklyn,Kensington,40.64651,-73.97662,Entire home/apt,100,4,20,2017-09-10,0.26,1,0,1,1
11,874706,Fully Updated Modern 1 Bedroom Apartment,4616773,Joan,Brooklyn,Kensington,40.64534,-73.97189,Entire home/apt,95,3,154,2019-07-01,2.00,1,310,1,1
12,1126944,Private Home w/ Parking in Brooklyn,128663,Tina,Brooklyn,Kensington,40.64024,-73.96976,Entire home/apt,300,5,1,2015-01-01,0.02,1,15,1,1
13,1157036,private spacious sunny bedroom,3696460,Radium,Brooklyn,Kensington,40.63381,-73.97140,Private room,50,30,10,2016-11-30,0.13,1,205,1,1
14,1239293,Cozy Retreat in Brooklyn Apartment,6755111,Jessica,Brooklyn,Kensington,40.64120,-73.97860,Private room,75,2,8,2014-01-07,0.11,1,312,1,1
15,1251681,"Entire House in Brooklyn for 6, super good pri...",6819812,Margarita,Brooklyn,Kensington,40.64580,-73.97097,Entire home/apt,250,5,11,2019-01-01,0.15,1,34,1,1
16,1305265,Perfect House for the Whole Family,7092157,Dennis,Brooklyn,Kensington,40.64342,-73.97851,Entire home/apt,299,3,4,2017-07-30,0.06,1,321,1,1
17,1351427,Charming New 3br House+bkyard BRKLN,6414252,Arza,Brooklyn,Kensington,40.64734,-73.97334,Entire home/apt,262,30,1,2015-04-03,0.02,1,16,1,1
18,2416104,"Private home, quiet Brooklyn street",12348871,Hetty,Brooklyn,Kensington,40.64742,-73.97559,Entire home/apt,200,2,13,2018-08-18,0.21,2,0,1,1
19,2736911,"Full apt-Brooklyn-near park, SUNNY!",3758251,Sarah,Brooklyn,Kensington,40.64468,-73.97208,Entire home/apt,200,3,2,2014-10-12,0.03,1,0,1,1
20,3039332,1910 Town House in leafy Kensington,15476280,Jacques,Brooklyn,Kensington,40.64638,-73.97723,Entire home/apt,499,7,2,2015-08-11,0.03,1,31,1,1
21,3517646,"Spacious, light-filled home by Prospect Park",17711637,Carrie,Brooklyn,Kensington,40.64510,-73.97798,Entire home/apt,210,5,3,2018-08-13,0.05,1,0,1,1
22,3645866,Welcome to Kensington,946672,Josh,Brooklyn,Kensington,40.63402,-73.97556,Private room,49,2,6,2016-09-05,0.10,1,0,1,1
23,3688197,Peaceful and breezy one bedroom,11371357,Julienne,Brooklyn,Kensington,40.64644,-73.97560,Entire home/apt,95,1,10,2018-12-29,0.21,1,0,1,1
24,3692566,Spacious 5 BR house in Brooklyn,2673332,Alexandra,Brooklyn,Kensington,40.64295,-73.97632,Entire home/apt,395,3,20,2018-08-14,0.34,1,9,1,1
25,3717749,Two Porches & Private Room,5573250,Jason,Brooklyn,Kensington,40.64130,-73.98233,Private room,70,1,2,2015-07-06,0.03,1,0,1,1
26,3911632,Cozy rooms with private bath,12348871,Hetty,Brooklyn,Kensington,40.64487,-73.97895,Private room,65,1,74,2019-07-02,1.26,2,21,1,1
27,4129212,Large 1 Bedroom apartment with office room.,11555258,Patrick,Brooklyn,Kensington,40.64449,-73.97238,Private room,50,3,8,2016-07-25,0.14,2,14,1,1
28,4500897,Cozy Brooklyn Apartment!,2781725,Julia,Brooklyn,Kensington,40.64687,-73.98182,Entire home/apt,115,7,6,2018-08-19,0.11,1,183,1,1
29,4700809,Cozy Two-bedroom Apt in a Cute House in Brooklyn!,24298733,Tuva,Brooklyn,Kensington,40.63670,-73.97434,Private room,35,4,0,NaT,NaN,2,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48865,17975664,"Large, spacious, and comfortable house",123458466,Shiva,Bronx,Edenwald,40.88534,-73.83434,Private room,75,1,15,2019-05-28,0.55,1,348,5,219
48866,18078720,Cozy one bedroom Street view,124486054,Carlton,Bronx,Edenwald,40.88364,-73.83561,Private room,70,3,0,NaT,NaN,1,365,5,219
48867,21602731,Spacious 1 bedroom Apartment w/ 2 beds,138154835,Kay,Bronx,Edenwald,40.89215,-73.83351,Entire home/apt,75,3,50,2019-06-17,3.02,1,148,5,219
48868,24601752,"Heaven in New York, Natural Room",185908506,Cynthia,Bronx,Edenwald,40.88634,-73.83431,Private room,75,3,19,2019-05-20,1.55,3,166,5,219
48869,25354678,Big Blue House in the Bronx,107437866,Clint,Bronx,Edenwald,40.89124,-73.83423,Entire home/apt,149,2,59,2019-06-24,4.33,1,328,5,219
48870,25484515,Your Home away from Home,192335868,Johnnet,Bronx,Edenwald,40.89010,-73.84031,Private room,125,1,11,2018-08-04,0.88,1,189,5,219
48871,26777948,Comfortable Studio Apartment,120035273,Ral,Bronx,Edenwald,40.89245,-73.83721,Entire home/apt,42,1,32,2019-06-20,2.74,1,32,5,219
48872,27086130,"Heaven in New York, Suite",185908506,Cynthia,Bronx,Edenwald,40.88590,-73.83517,Entire home/apt,95,3,5,2019-05-31,0.66,3,311,5,219
48873,28835184,Bronx Apartment,217439132,Rosalyn,Bronx,Edenwald,40.88805,-73.83248,Entire home/apt,90,15,0,NaT,NaN,1,89,5,219
48874,29712188,"Heaven in New York, Orange Room",185908506,Cynthia,Bronx,Edenwald,40.88500,-73.83518,Private room,75,3,1,2018-11-20,0.13,3,311,5,219
48875,30326645,Best Scenic Night View In Riverside DR NYC,198442706,Marii,Bronx,Edenwald,40.88229,-73.84295,Private room,80,1,0,NaT,NaN,1,365,5,219
48876,32214585,Bronx Comfort,98868828,Natasha,Bronx,Edenwald,40.89156,-73.84197,Private room,65,1,0,NaT,NaN,1,89,5,219
48877,33966122,"Relaxing, comfy, and stress-free apartment.",138962369,Eugenia,Bronx,Edenwald,40.89039,-73.83186,Entire home/apt,50,3,8,2019-07-07,3.04,1,34,5,219
48878,20171599,Luxury mini Suite.,740812,Monica,Bronx,Westchester Square,40.83758,-73.84382,Entire home/apt,72,2,35,2019-06-23,1.52,2,129,5,220
48879,20385467,Cozy and luxurious suite away from home,740812,Monica,Bronx,Westchester Square,40.83720,-73.84345,Entire home/apt,70,2,67,2019-07-01,2.99,2,129,5,220
48880,23469535,"Your Room at Roselle’s, Bronx",175152359,Massiel,Bronx,Westchester Square,40.84300,-73.84806,Private room,65,2,2,2019-06-23,0.13,2,135,5,220
48881,24512493,"Private room at Roselle, in the Bronx",175152359,Massiel,Bronx,Westchester Square,40.84367,-73.84911,Private room,65,2,11,2019-06-15,1.11,2,158,5,220
48882,28309976,BnB & Spa,22125997,Lilly Rose,Bronx,Westchester Square,40.84184,-73.84967,Private room,28,1,26,2019-06-21,2.65,2,123,5,220
48883,30253236,SedaOn2 Dance Studio,140862407,Angelie,Bronx,Westchester Square,40.84378,-73.84469,Entire home/apt,670,1,2,2019-03-31,0.34,1,178,5,220
48884,32448627,Lola's Casa,243766178,Lola,Bronx,Westchester Square,40.83619,-73.84916,Private room,52,4,1,2019-02-22,0.22,1,0,5,220
48885,32713924,Bnb n Spa 30 minutes from Manhattan,22125997,Lilly Rose,Bronx,Westchester Square,40.84077,-73.84870,Private room,50,3,6,2019-06-03,1.62,2,27,5,220
48886,34903861,"Get up and Go, Small comfy Studio in the Bronx",126614438,Jada,Bronx,Westchester Square,40.83616,-73.84638,Entire home/apt,75,1,5,2019-06-24,3.95,1,355,5,220
48887,36001548,Home Away From Home in the Bronx,270852954,Jasmine,Bronx,Westchester Square,40.83671,-73.84677,Private room,75,1,0,NaT,NaN,1,363,5,220
48888,20685952,Summer vibes,129602851,W.,Bronx,Unionport,40.83121,-73.84830,Entire home/apt,450,2,1,2018-02-01,0.06,2,342,5,221
48889,26136978,Cozy Bronx nest,196468460,German And Wendy,Bronx,Unionport,40.82848,-73.85466,Entire home/apt,85,2,68,2019-07-04,5.37,1,247,5,221
48890,27638567,Beautiful home,208574990,Hattie,Bronx,Unionport,40.82972,-73.84957,Private room,60,1,0,NaT,NaN,1,268,5,221
48891,29341038,Very comfortable and clean,28960938,Vinroy,Bronx,Unionport,40.82598,-73.85203,Private room,90,7,0,NaT,NaN,1,180,5,221
48892,32921617,"A Relaxing, Blessed Apartment #3 (Hotel Style)",168891738,Miguel & Marisol,Bronx,Unionport,40.82661,-73.85710,Entire home/apt,100,2,16,2019-06-30,4.32,2,161,5,221
48893,32938308,"Sweet, Cozy and Blessed Apartment #2 (Hotel St...",168891738,Miguel & Marisol,Bronx,Unionport,40.82670,-73.85704,Entire home/apt,100,2,18,2019-06-28,4.78,2,145,5,221
48894,34860549,1 room for a cozy night or 2,209915988,Ashley,Bronx,Unionport,40.82936,-73.84854,Private room,75,1,1,2019-05-26,0.68,1,365,5,221

In [18]:
listing=pd.DataFrame.merge(superJoin,room_type)
listing=listing.drop(columns=["calculated_host_listings_count","borough_id","host_title","borough","neighbourhood","room_type"])
listing

,id,name,host_number,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,neighbourhood_id,room_type_id
0,2539,Clean & quiet apt home by the park,2787,40.64749,-73.97237,149,1,9,2018-10-19,0.21,365,1,1
1,63546,Large and Cozy Private Bedroom,308652,40.64106,-73.97426,39,1,45,2019-05-16,0.46,365,1,1
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,40.64302,-73.97255,39,1,82,2019-05-19,0.94,365,1,1
3,267652,Private clean pleasant spacious room.,164675,40.64277,-73.97296,60,2,20,2019-01-21,0.42,347,1,1
4,656281,"QUIET, SPACIOUS, COMFORTABLE, & GREAT LOCATION",3180741,40.64573,-73.98013,72,1,48,2019-02-28,0.59,312,1,1
5,812467,"Vintage Chic Haven in Kensington, Brooklyn",574584,40.63547,-73.97417,49,1,61,2019-06-23,0.95,100,1,1
6,1157036,private spacious sunny bedroom,3696460,40.63381,-73.97140,50,30,10,2016-11-30,0.13,205,1,1
7,1239293,Cozy Retreat in Brooklyn Apartment,6755111,40.64120,-73.97860,75,2,8,2014-01-07,0.11,312,1,1
8,3645866,Welcome to Kensington,946672,40.63402,-73.97556,49,2,6,2016-09-05,0.10,0,1,1
9,3717749,Two Porches & Private Room,5573250,40.64130,-73.98233,70,1,2,2015-07-06,0.03,0,1,1
10,3911632,Cozy rooms with private bath,12348871,40.64487,-73.97895,65,1,74,2019-07-02,1.26,21,1,1
11,4129212,Large 1 Bedroom apartment with office room.,11555258,40.64449,-73.97238,50,3,8,2016-07-25,0.14,14,1,1
12,4700809,Cozy Two-bedroom Apt in a Cute House in Brooklyn!,24298733,40.63670,-73.97434,35,4,0,NaT,NaN,0,1,1
13,4823959,Private room for 2 in cool BK apt,24633966,40.64469,-73.97086,50,14,0,NaT,NaN,0,1,1
14,5079124,Clean & Cozy Private Room,12603113,40.63953,-73.97214,50,2,39,2019-06-24,0.77,245,1,1
15,5523413,Oasis in Kensington,12212944,40.64321,-73.98294,52,3,8,2019-05-18,0.15,27,1,1
16,5717674,Welcome to Brooklyn!,29642992,40.63694,-73.97487,70,3,8,2016-10-18,0.17,0,1,1
17,5771655,Brooklyn Bargain for August!,12212944,40.64455,-73.98298,30,21,1,2015-06-19,0.02,1,1,1
18,6305553,BK Room Available 5/17-5/24,32798845,40.64345,-73.98258,35,1,0,NaT,NaN,0,1,1
19,6344926,Brooklyn private room,14898658,40.64423,-73.98224,40,30,43,2019-01-08,0.87,99,1,1
20,6749837,2 beds in 3 bed with balcony in elevator bldng!,25111342,40.63450,-73.97271,95,2,0,NaT,NaN,0,1,1
21,7306096,"Big, nice, private room.",38272413,40.64028,-73.97396,45,4,5,2015-09-15,0.10,0,1,1
22,7835778,Bright room in quiet Brooklyn home,40693481,40.64493,-73.97801,38,5,1,2015-08-31,0.02,0,1,1
23,8130534,Lovely BR w/Access to Everything!,3692257,40.64423,-73.98019,49,1,1,2015-11-05,0.02,0,1,1
24,8250280,Zee's Brooklyn nest,9775058,40.64125,-73.97630,70,2,7,2019-07-03,2.63,37,1,1
25,9107681,A Dreamy Brooklyn Solarium nearby Prospect Park!,16154600,40.64584,-73.97303,40,4,1,2016-01-02,0.02,0,1,1
26,9768765,Room in quiet Brooklyn home,50369736,40.64637,-73.97863,24,18,1,2016-01-29,0.02,0,1,1
27,11096888,Peaceful apartment close to F/G,2228137,40.64779,-73.97956,45,500,0,NaT,NaN,358,1,1
28,11549676,Spacious Room w private bathroom,27751504,40.63974,-73.97439,35,14,2,2018-04-30,0.06,0,1,1
29,11707920,"Brooklyn private bath by F,G train",14898658,40.64188,-73.98042,45,1,108,2019-06-19,2.68,23,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48865,12933540,Comfortable Sofa bed 15 minutes to Manhattan,69711528,40.83049,-73.87354,51,3,9,2017-05-20,0.26,89,195,3
48866,19974905,Esteem's Place,141615596,40.83805,-73.85867,26,1,18,2019-04-23,0.78,342,195,3
48867,27703561,both world getting to the city and safe place,15486514,40.83580,-73.85833,65,2,4,2018-11-25,0.39,0,195,3
48868,29906233,BRONX SUNNY CLEAN ROOM,224874182,40.83872,-73.87149,45,7,0,NaT,NaN,280,195,3
48869,34659522,Private area for comfortable and pleasant stay.,204928236,40.83717,-73.85738,36,1,0,NaT,NaN,71,195,3
48870,35232958,Coziest & magical beds behind living room curt...,265273671,40.83898,-73.86492,55,1,0,NaT,NaN,364,195,3
48871,35546298,★Official & Only 6★Star Airbnb w/ TempurPedic Bed,52062343,40.85600,-73.86705,57,1,4,2019-06-30,4.00,340,197,3
48872,20330081,New York's Hidden Secret for luxury living,131826530,40.88515,-73.91411,800,2,1,2017-09-03,0.04,269,198,3
48873,25618799,Shared space w/privacy near NY Botanic Garden,21850707,40.87077,-73.88170,33,2,8,2019-05-19,0.71,6,199,3
48874,2772111,It's very warm and friendly.,14176488,40.86705,-73.88545,55,7,10,2018-10-13,0.16,365,201,3
48875,12988898,NaN,71552588,40.86032,-73.88493,130,1,0,NaT,NaN,365,201,3
48876,28369910,Semi Private Bedroom,214190693,40.85536,-73.90242,55,1,3,2019-02-23,0.31,83,201,3
48877,35069663,Apartamento compartido NYC.,264182618,40.85743,-73.90233,22,1,1,2019-06-03,0.83,11,201,3
48878,30942778,Share a Lg Studio room* 2 blocks subway* Bronx...,1532337,40.84047,-73.87127,20,14,1,2019-05-08,0.48,139,203,3
48879,31032487,Share Lg studio rm b2*2 blocks subway *Bronx Zoo,1532337,40.84119,-73.87049,20,10,2,2019-06-30,0.32,114,203,3
48880,31053045,Sleeper shared rm on subway bronx zoo 30m2NYC,1532337,40.84087,-73.86990,20,10,3,2019-07-01,0.68,25,203,3
48881,28810799,Spacious Comfy livingroom Lounge spot in Bronx...,217290804,40.85661,-73.85281,40,1,2,2018-10-29,0.23,88,204,3
48882,32263166,Welcome to my Lovely Studio.,207640201,40.84740,-73.89612,50,1,7,2019-05-19,1.54,158,205,3
48883,33422954,Spacious Studio,251781156,40.84581,-73.88890,25,2,5,2019-07-01,1.60,146,205,3
48884,8324941,Charming studio apartment,43885876,40.85362,-73.82949,150,1,0,NaT,NaN,364,208,3
48885,36379669,Shared living space in the Bronx!,44378432,40.84735,-73.83095,50,1,0,NaT,NaN,88,208,3
48886,32896994,X Night,184750740,40.82398,-73.90894,77,1,0,NaT,NaN,90,211,3
48887,33987446,X Light,184750740,40.82565,-73.91095,77,1,0,NaT,NaN,179,211,3
48888,34851748,X,184750740,40.82504,-73.90918,80,1,0,NaT,NaN,365,211,3
48889,34229869,Cozy Living Room Futon,27537930,40.86209,-73.84667,20,1,0,NaT,NaN,5,212,3
48890,19823964,Fm,26800649,40.85961,-73.89031,110,1,0,NaT,NaN,0,213,3
48891,33995462,"Bronx, Little Italy, Arthur Ave, Fordham, Yanks.",256683560,40.85398,-73.88737,49,1,2,2019-06-03,0.94,358,213,3
48892,17475107,Partitioned (shared) Cozy Studio in Pelham Bay,86108833,40.84034,-73.83007,20,1,116,2019-01-28,4.09,5,216,3
48893,23670513,Nice place for ladies only,177161276,40.88455,-73.86587,26,1,10,2019-03-07,0.67,312,218,3
48894,36199363,Furnished room for rent in Bronx SINGLE FEMALE,272247972,40.88116,-73.86547,25,90,0,NaT,NaN,190,218,3

In [ ]:
pw = input("Password: ")
connection_string = "postgres:" + str(pw) + "@localhost:5432/airbnb_db"
engine = create_engine(f'postgresql://{connection_string}')

In [20]:
engine.table_names()

['borough', 'neighbourhood', 'listing', 'room_type', 'host']

In [21]:
host.to_sql(name='host', con=engine, if_exists='append', index=True)

In [26]:
neighbourhood_group_transformed.to_sql(name='borough', con=engine, if_exists='append', index=False)

In [29]:
neighbourhood.to_sql(name='neighbourhood', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "neighbourhood_pkey"
DETAIL:  Key (neighbourhood_id)=(1) already exists.

[SQL: INSERT INTO neighbourhood (neighbourhood_id, borough_id, neighbourhood) VALUES (%(neighbourhood_id)s, %(borough_id)s, %(neighbourhood)s)]
[parameters: ({'neighbourhood_id': 1, 'borough_id': 1, 'neighbourhood': 'Kensington'}, {'neighbourhood_id': 2, 'borough_id': 1, 'neighbourhood': 'Clinton Hill'}, {'neighbourhood_id': 3, 'borough_id': 1, 'neighbourhood': 'Bedford-Stuyvesant'}, {'neighbourhood_id': 4, 'borough_id': 1, 'neighbourhood': 'South Slope'}, {'neighbourhood_id': 5, 'borough_id': 1, 'neighbourhood': 'Williamsburg'}, {'neighbourhood_id': 6, 'borough_id': 1, 'neighbourhood': 'Fort Greene'}, {'neighbourhood_id': 7, 'borough_id': 1, 'neighbourhood': 'Crown Heights'}, {'neighbourhood_id': 8, 'borough_id': 1, 'neighbourhood': 'Park Slope'}  ... displaying 10 of 221 total bound parameter sets ...  {'neighbourhood_id': 220, 'borough_id': 5, 'neighbourhood': 'Westchester Square'}, {'neighbourhood_id': 221, 'borough_id': 5, 'neighbourhood': 'Unionport'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [30]:
room_type.to_sql(name='room_type', con=engine, if_exists='append', index=False)

In [31]:
listing.to_sql(name='listing', con=engine, if_exists='append', index=False)